~
~
# Ignore Terraform directories and files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ignore override files if any
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# Ignore local CLI configuration files
.terraformrc
terraform.rc

